<navigation class="navigation">
    <ul>
        <li><%= link_to "Case studies", case_studies_path, title: "Case studies" %></li>
        <li><%= link_to "Testimonials", testimonials_path, title: "Testimonials" %></li>
        <li><%= link_to "Environmental policy", environmental_policy_path, title: "Environmental policy" %></li>
        <li><%= link_to "Services", services_path, title: "Services" %></li>
        <li><%= link_to "Contact", contact_path, title: "Contact" %></li>
    </ul>
</navigation>
