<% content_for :meta_title, "Case Studies" %>
<% content_for :meta_description, "Successful commercial interior design, space planning and implementation of corporate office interiors" %>

<header class="header">
    <h1>Case studies</h1>
    <em>Designer furniture for designer people</em>
</header>

<ul>
    <li class="portion">
        <h2>Software AG</h2>

        <p>Odass were appointed by Maber Architects to design a stunning glass reception counter for their new Pride Park Offices Derby. Our Interior Designer selected alternate coloured glass Reception unit from Italian manufacturers.</p>

        <%= image_tag 'Software-AG.jpg', alt: 'Software AG', width: 200, height: 150 %>
    </li>

    <li class="portion">
        <h2>East Midlands Housing Group Headquarters</h2>

        <p>Having worked with East Midlands Housing Association in Leicestershire for many years, Odass were commissioned to Interior Design, Space plan and fit out the converted BMI Flight Assimilater Building into high quality Group Head Quarters Offices, Conference Room and Training Facility. The project was carried out over approximately one year and completed in April 2010.</p>

        <%= image_tag 'EMHGH-1.png', alt: 'East Midlands Housing Group Boardroom', width: 199, height: 150 %>
        <%= image_tag 'EMHGH-2.png', alt: 'East Midlands Housing Group Headquarters', width: 199, height: 150 %>
        <%= image_tag 'EMHGH-2.png', alt: 'East Midlands Housing Group Headquarters', width: 199, height: 150 %>
    </li>

    <li class="portion">
        <h2>First Response Finance Ltd</h2>

        <p>Having worked for First Response Finance Ltd in three locations over 10 years, Odass were asked to design and fit out the new headquarters building in Nottingham. Our works included interior design and space planning for new and existing Workstations, Boardroom, Restaurant, Meeting and Training rooms along with planning for all service cable routing. Having completed these works we re-planned their existing offices in order to create a more efficient layout.</p>

        <%= image_tag 'FRFL-1.png', alt: 'First Response Finance furnishings', width: 199, height: 150 %>
        <%= image_tag 'FRFL-2.png', alt: 'First Response Finance boardroom', width: 199, height: 150 %>
        <%= image_tag 'FRFL-3.png', alt: 'First Response Finance waiting room', width: 199, height: 150 %>
        <%= image_tag 'FRFL-4.png', alt: 'First Response Finance office space', width: 199, height: 150 %>
    </li>

    <li class="portion">
        <h2>East Midlands Housing Association</h2>

        <p>Having completed the Group Headquarters for East Midlands Association in April 2010, Odass were commissioned to Interior Design, Space Plan and Fit Out the vacated Jubilee House Office building to accommodate and consolidate the two Leicestershire offices of the Housing Association Division. The works included the Customer Services Centre, Restaurant, Housing File store, Reception and Training Room.</p>

        <%= image_tag 'EMHA-1.png', alt: 'East Midlands Housing Association offices', width: 199, height: 150 %>
        <%= image_tag 'EMHA-2.png', alt: 'East Midlands Housing Association reception', width: 199, height: 150 %>
        <%= image_tag 'EMHA-3.png', alt: 'East Midlands Housing Association boardroom', width: 199, height: 150 %>
    </li>

    <li class="portion">
        <h2>Merck Chemicals</h2>

        <p>Merck Chemicals ltd, a major International Company in Nottingham, needed a high level reconfigurable meeting/conference room fitting out for a meeting taking place within 3 weeks.</p>

        <p>A fast track proposal was initiated for a Natural Walnut Sectional Conference Table along with a matching Credenza with integrated drinks cooling unit and facility for cutlery and pull out serving shelf.</p>

        <p>The project was completed within the time scale well in time for the meeting.</p>

        <%= image_tag 'merck_chemicals.jpg', alt: 'Merck Chemicals boardroom', width: 150, height: 200 %>
    </li>

    <li class="portion">
        <h2>Ashfield Healthcare</h2>

        <h3>Brief:</h3>

        <p>As a long standing client, Ashfield Healthcare in Leicestershire has gone through phenomenal growth over the last few years. The company has expanded rapidly and occupied 4 separate sites in Ashby-de-la-Zouch. It was at this point that they decided to build a new purpose designed Headquarters building. Having purchased a large quantity of furniture from us with which they were very happy it made sense to re-use it and buy additional items for the move.</p>

        <h3>Solution:</h3>

        <p>A detailed survey of the existing operation was carried out from which a full inventory of the existing furniture was made. This was then incorporated in to the new headquarters scheme along with new furniture to cope with Ashfield's expansion. Quite apart from this there were a number of new areas to consider including the Staff Canteen, several new Training &amp; Seminar Rooms, Reception &amp; Visitors areas as well as a Hot Desking Area with a novel idea using the unusual Salli saddle seat. Despite a very tight deadline the project was completed on time.</p>

        <%= image_tag 'cs_ashfieldhealthcare.jpg', alt: 'Ashfield Healthcare reception', width: 200, height: 158 %>
    </li>

    <li class="portion">
        <h2>Bowmer &amp; Kirkland</h2>

        <h3>Brief:</h3>

        <p>The client in Derbyshire had a canteen facility on its premises, which although adequate in size, was not used, due to a cold and uninviting atmosphere. The brief was to maximise its potential with a complete redesign.</p>

        <h3>Solution:</h3>

        <p>Following initial consultation, our interior designer worked with the architects to reinvent this area as a prime hub for social gathering as well as a canteen and rest area.</p>

        <p>By carefully separating the facility, the 'cafe style' eating area and the 'hotel style' rest area brought the facility to life.</p>

        <p>The inclusion of internet access with bistro style decor has been welcomed by staff in providing a modern relaxing atmosphere.</p>

        <%= image_tag 'cs_bowmer.jpg', alt: 'Bower & Kirkland', width: 200, height: 154 %>
    </li>

    <li class="portion">
        <h2>Foggy Petronas</h2>

        <h3>Brief:</h3>

        <p>To create an office interior that projects a dynamic forward looking image. The client in Staffordshire was very keen to use the corporate colour scheme within the new offices.</p>

        <h3>Solution:</h3>

        <p>An initial design meeting held at our showrooms enabled the client to explain the concept they were trying to achieve. Although they had a view to using their corporate colours, our Interior Design Department had the capability of turning ideas into reality.</p>

        <p>By integrating corporate colours, the brief was achieved using K &amp; N's UNO.S desking and storage together with K &amp; N's Tensa seating in 2 tone fabrics. Speed was of the essence and the new interior was created from conception to finish in little over 6 weeks.</p>

        <%= image_tag 'cs_petronas.jpg', alt: 'Foccy Petronas offices', width: 200, height: 158 %>
    </li>

    <li class="portion">
        <h2>Ashfield District Council</h2>

        <p>Due to the success of the Ashfield homes project, Ashfield urban District Council in Nottinghamshire, asked ODASS to design their new reception and customer services area for the civic centre. Our interior designer assisted the architect's department to select a suitable colour scheme and furniture layout. The project was completed on time and within budget to produce an aesthetically pleasing and functional environment.</p>

        <%= image_tag 'ashfield_council.jpg', alt: 'Ashfield District Council reception', width: 200, height: 142 %>
    </li>

    <li class="portion">
        <h2>Linda McCartney Foods</h2>

        <p>Office Design and Space planning Services were asked by the Project Architects to manufacture Canteen Furniture in hard wearing aesthetic laminate and supply seating from our Italian range, This was installed at the new Linda McCartney food manufacturing plant extension in Fakenham Norfolk.</p>

        <%= image_tag 'Foods-1.png', alt: 'Linda McCartney Foods', width: 203, height: 150 %>
        <%= image_tag 'Foods-2.png', alt: 'Linda McCartney Foods', width: 203, height: 150 %>
    </li>
</ul>

