  <div id="Introduction">
    <p>Over the past 35 years, Paul Richmond has developed an enviable reputation with both architects and end users in the successful commercial interior design, space planning and implementation of corporate office interiors.<br />
Over time, this approach has been honed using Ergonomic workstations and seating into what has become a blueprint for an automatic success!<br />
<strong>7 Stages of a Successful Office Move</strong><br />
The approach has enabled us to build longstanding and ongoing relationships with clients. The philosophy is a simple one - success builds on success.</p>
  </div>

<div class="ContentSection" id="Furnishings">

<div class="Title">
  <h2>what we represent <em>designer furniture for designer people</em></h2>
</div>

<div class="Content">
  <!--
  <div class="clearfix">
    <div class="ImageRow">
      <img src="_images_furnishings/1.jpg" alt="1" width="520" height="250" />
    </div>

    <div class="ImageRow">
      <img src="_images_furnishings/2.jpg" alt="2" width="280" height="250" />
    </div>

    <div class="ImageRow Last">
      <img src="_images_furnishings/3.jpg" alt="3" width="100" height="115" />
      <img src="_images_furnishings/4.jpg" alt="4" width="100" height="115" class="Bottom" />
    </div>
  </div>

  <div class="clearfix">
    <div class="ImageRow">
      <img src="_images_furnishings/5.jpg" alt="5" width="340" height="340" />
    </div>

    <div class="ImageRow Last clearfix">
      <img src="_images_furnishings/6.jpg" alt="6" width="580" height="160" />
      <img src="_images_furnishings/7.jpg" alt="7" width="160" height="160" class="Bottom Margin" />
      <img src="_images_furnishings/8.jpg" alt="8" width="160" height="160" class="Bottom Margin" />
      <img src="_images_furnishings/9.jpg" alt="9" width="220" height="160" class="Bottom" />
    </div>
  </div>
  -->
  <%= image_tag 'mainimage.jpg', alt: 'mainimage', width: 940, height: 556 %>
</div>
</div><div class="ContentSection" id="CaseStudies">
<div class="Title">
  <h2>case studies <em>innovative british furniture and seating from sven christiansen</em></h2>
</div>

<div class="Content">
  <ul>
    <li><h1><strong>Software AG</strong></h1><br />
    Odass were appointed by Maber Architects to design a stunning glass reception counter for their new Pride Park Offices Derby. Our Interior Designer selected alternate coloured glass Reception unit from Italian manufacturers.
    <%= image_tag 'Software-AG.jpg', alt: 'Software AG', width: 200, height: 150 %></li>

    <li><h1><strong>East Midlands Housing Group Headquarters</strong></h1><br />
    Having worked with East Midlands Housing Association in Leicestershire for many years, Odass were commissioned to Interior Design, Space plan and fit out the converted BMI Flight Assimilater Building into high quality Group Head Quarters Offices, Conference Room and Training Facility. The project was carried out over approximately one year and completed in April 2010.
    <%= image_tag 'EMHGH.jpg', alt: 'EMHGH', width: 610, height: 150 %></li>

    <li><h1><strong>First Response Finance Ltd</strong></h1><br />
Having worked for First Response Finance Ltd in three locations over 10 years, Odass were asked to design and fit out the new headquarters building in Nottingham. Our works included interior design and space planning for new and existing Workstations, Boardroom, Restaurant, Meeting and Training rooms along with planning for all service cable routing. Having completed these works we re-planned their existing offices in order to create a more efficient layout.
    <%= image_tag 'FRFL.jpg', alt: 'FRFL', width: 814, height: 150 %></li>

    <li><h1><strong>East Midlands Housing Association</strong></h1><br />
Having completed the Group Headquarters for East Midlands Association in April 2010, Odass were commissioned to Interior Design, Space Plan and Fit Out the vacated Jubilee House Office building to accommodate and consolidate the two Leicestershire offices of the Housing Association Division. The works included the Customer Services Centre, Restaurant, Housing File store, Reception and Training Room.
    <%= image_tag 'EMHA.jpg', alt: 'EMHA', width: 610, height: 150 %></li>

    <li><h1><strong>Merck Chemicals</strong></h1><br />
Merck Chemicals ltd, a major International Company in Nottingham, needed a high level reconfigurable meeting/conference room fitting out for a meeting taking place within 3 weeks.<br />
A fast track proposal was initiated for a Natural Walnut Sectional Conference Table along with a matching Credenza with integrated drinks cooling unit and facility for cutlery and pull out serving shelf.<br />
The project was completed within the time scale well in time for the meeting.
    <%= image_tag 'merck_chemicals.jpg', alt: 'merck_chemicals', width: 150, height: 200 %></li>

    <li><h1><strong>Ashfield Healthcare</strong></h1><br />
<strong>Brief:</strong><br />
As a long standing client, Ashfield Healthcare in Leicestershire has gone through phenomenal growth over the last few years. The company has expanded rapidly and occupied 4 separate sites in Ashby-de-la-Zouch. It was at this point that they decided to build a new purpose designed Headquarters building. Having purchased a large quantity of furniture from us with which they were very happy it made sense to re-use it and buy additional items for the move. <br />
<strong>Solution:</strong><br />
A detailed survey of the existing operation was carried out from which a full inventory of the existing furniture was made. This was then incorporated in to the new headquarters scheme along with new furniture to cope with Ashfield's expansion. Quite apart from this there were a number of new areas to consider including the Staff Canteen, several new Training &amp; Seminar Rooms, Reception &amp; Visitors areas as well as a Hot Desking Area with a novel idea using the unusual Salli saddle seat. Despite a very tight deadline the project was completed on time.
    <%= image_tag 'cs_ashfieldhealthcare.jpg', alt: 'cs_ashfieldhealthcare', width: 200, height: 158 %></li>

    <li><h1><strong>Bowmer &amp; Kirkland</strong></h1><br />
<strong>Brief:</strong><br />
The client in Derbyshire had a canteen facility on its premises, which although adequate in size, was not used, due to a cold and uninviting atmosphere. The brief was to maximise its potential with a complete redesign.<br />
<strong>Solution:</strong><br />
Following initial consultation, our interior designer worked with the architects to reinvent this area as a prime hub for social gathering as well as a canteen and rest area.<br />
By carefully separating the facility, the 'cafe style' eating area and the 'hotel style' rest area brought the facility to life.<br />
The inclusion of internet access with bistro style decor has been welcomed by staff in providing a modern relaxing atmosphere.
    <%= image_tag 'cs_bowmer.jpg', alt: 'cs_bowmer', width: 200, height: 154 %></li>

    <li><h1><strong>Foggy Petronas</strong></h1><br />
<strong>Brief:</strong><br />
To create an office interior that projects a dynamic forward looking image. The client in Staffordshire was very keen to use the corporate colour scheme within the new offices.<br />
<strong>Solution:</strong><br />
An initial design meeting held at our showrooms enabled the client to explain the concept they were trying to achieve. Although they had a view to using their corporate colours, our Interior Design Department had the capability of turning ideas into reality. <br />
By integrating corporate colours, the brief was achieved using K &amp; N's UNO.S desking and storage together with K &amp; N's Tensa seating in 2 tone fabrics. Speed was of the essence and the new interior was created from conception to finish in little over 6 weeks.
    <%= image_tag 'cs_petronas.jpg', alt: 'cs_petronas', width: 200, height: 158 %></li>

    <li><h1><strong>Ashfield District Council</strong></h1><br />
Due to the success of the Ashfield homes project, Ashfield urban District Council in Nottinghamshire, asked ODASS to design their new reception and customer services area for the civic centre. Our interior designer assisted the architect's department to select a suitable colour scheme and furniture layout. The project was completed on time and within budget to produce an aesthetically pleasing and functional environment.
    <%= image_tag 'ashfield_council.jpg', alt: 'ashfield_council', width: 200, height: 142 %></li>

    <li><h1><strong>Linda McCartney Foods</strong></h1><br />
    Office Design and Space planning Services were asked by the Project Architects to manufacture Canteen Furniture in hard wearing aesthetic laminate and supply seating from our Italian range, This was installed at the new Linda McCartney food manufacturing plant extension in Fakenham Norfolk.
    <%= image_tag 'Foods.jpg', alt: 'Foods', width: 406, height: 150 %>
  </ul>
</div>
</div><div class="ContentSection" id="Testimonials">
<div class="Title">
  <h2>testimonials <em>how our clients react to our projects</em></h2>
</div>

<div class="Content">
  <ul><li>To someone who has been the subject of a broken pelvis in their youth and a cesarean section, its hard to explain how you manage day to day through pain and discomfort, not only this but to also be assessed by an occupational therapist and told that you have unusually long femurs!<br />
How I managed with my old chair for over six years I will never know. I was told that I have in the region of over eight inches of femur over hanging my chair seat, which was causing knee discomfort.<br />
I also lacked the adequate support to my lower back. My new chair has met all my requirements and expectations. However I would not say that one chair suits all; its definitely worth trying for yourself as there are many chairs to suit different needs.<br />
Thanks Paul, Its been a long wait but at least there is some pleasure in life now coming to work.</li>
    <li><p><strong>Kay Furniss, PA to the Director of Housing Services</strong></p></li>
    <li>We have used Paul for over five years, during this time Ashfield Healthcare has gone through dramatic growth and Paul has been an invaluable supplier advising and assisting during expansion.<br />
The design expertise is excellent and not just for standard furniture but also unusual items we needed for our hot desking, training rooms and refectory areas. The fitters are always courteous and helpful particularly during the move to our headquarters building. Our more recent relocation to new premises in Dublin required a considerable degree of planning and liaison with the local authorities.<br />
This we would certainly recommend them for any office reorganisation project.</li>
    <li><p><strong>Samantha Corbin, Commercial Director</strong></p></li>
    <li>We first used Pauls services when we moved into our new premises in early 2000. We needed a supplier that could react quickly as we had to vacate an existing premises. He produced professional layouts and visuals with a quotation for the proposed work. An order was placed and the project was complete on time and to budget.<br />
As part of our continued expansion and integration into the SERCO group we once again needed to move quickly.<br />
The plans and visuals were approved and their quotation was accepted, once again they delivered and installed all the new furniture to the requirements.<br />
We will certainly approach Paul again with regards to future orders.</li>
    <li><p><strong>John Rootham, Customer Relations Manager</strong></p></li>
    <li>The Company excelled themselves, despite a tight time-frame. Thanks to their attention to detail the results achieved our objectives.</li>
    <li><p><strong>Sue taylor, Special Projects Manager</strong></p></li>
    <li>We found Paul to be very committed, accommodating and conscientious throughout the course of the project. The plans he presented were clear and concise and exceeded all expectations.<br />
We would like to say how pleased we were with the outcome of our decision in choosing Paul and ODASS in adding the exceptional style , design and final touches in our newly built office building.</li>
    <li><p><strong>Graham Dunn, Managing Director</strong></p></li>
  </ul>
</div>
</div><div class="ContentSection" id="EnvironmentalPolicy">
<div class="Title">
  <h2>environmental policy<em>protecting the planet for future generations</em></h2>
</div>

<div class="Content">
  <p>Paul Richmond takes environmental issues very seriously.</p><br />
  <p>The manufacturers selected to carry out our clients work share our environmental policies:</p><br />
  <p>Sven Christiansen plc are wholly UK owned and based designers and manufacturers of attractive, functional and reliable high quality office furniture. The Directors recognise that the quality of products and services and their impact on the environment are paramount in achieving total customer satisfaction and have put in place the following environmental initiatives:</p><br />
  <ul>
    <li>Implementation of ISO 14001 (Environmental Management System)</li>
    <li>Full reviews of all processes and materials that might affect the environment</li>
    <li>Consideration to the environment and the health and safety of employees in all areas of the organisation</li>
    <li>Making all employees aware that they are responsible for, and have an influence on, our impact on the environment</li>
    <li>Purchasing vehicles with fuel economy and emissions in mind</li>
    <li>Installation of wood burning furnaces with clean-air afterburners - disposing of waste board and extracted dust, reducing the amount of waste timber going to landfill and providing heating to the Mill and Spray shops. Heat generated by the furnace is also fed to our veneer press, reducing the energy required to maintain its operating temperature by around 50%</li>
    <li>Installation of noise reduction equipment on dust extraction plant</li>
    <li>Invertors on main dust extraction fans - linking fan speeds to extraction demands and reducing energy consumption</li>
    <li>Reduction of VOC (Volatile Organic Compounds) emissions by changing to water based lacquers and stains wherever possible</li>
    <li>All board, veneer & timber manufacturers are FSC (Forestry Stewardship Council) Chain of Custody or equivalent certificated</li>
    <li>Undamaged packaging is returned and reused, including: cardboard, plastic corner protectors, crates, foam edge protectors and timber based protectors</li>
    <li>Recycling of cardboard, steel and aluminium waste</li>
  </ul>
</div>
</div><div class="ContentSection" id="Services">

<div class="Title">
  <h2>services<em>pre project information for prospective clients</em></h2>
</div>

<div class="Content">
<div id="ServicesIntro">
  <h1><strong>7 Stages of an Office Move</strong></h1>
    <ul>
      <li><p><strong>1. Feasibility Studies</strong></p><br />
You need to move, you need more space. You identify a suitable sized building and exchange contract. Unfortunately, we find that it is rarely that simple. <br />
The number one problem you encounter is with developers who create an office building, attempting to answer everybody's needs, but in reality rarely answering your requirements. The reason for this is very simple. By using one large open plan office area the lighting layout, wiring and IT networking can be kept to a minimum - saving them money.<br />
Let us carry out a feasibility study and produce a furniture plan for your proposed new building. This will ensure that the correct services are specified. Sometimes we have to advise a client that the building just isn't suitable for them. Better to find that out early prior to signing contracts. And believe us, it does happen.<br />
<strong> How do we charge for our initial feasibility study? </strong> <br />
We make no charge for our initial consultation meeting. At this meeting we access the initial design time we require to carry out your project.<br />
The estimate includes: Office Space Survey and Site Survey, Personnel Audit, Storage Audit, Space Planning and Interior Design, Presentation and Mood Boards, Detailed Proposal.<br />
Charges for these works are made on an hourly basis and we advise you of the cost following our initial meeting. </li>
      <li><p><strong>2. Space Audit</strong></p><br />
Despite all the talk of a paperless office there still seems to be just as much paperwork to file as ever. Unfortunately, storage is a necessary evil and is an area that a lot of people ignore or pay little attention to. <br />
We always implement a detailed Space Audit of your existing storage. We assess the type of storage that suits your needs and take account of both redundant filing and any areas to increase for expansion.</li>
      <li><p><strong>3. Space Planning</strong></p><br />
Poor use of space can make an enormous difference to your company's costs and efficiency.Typically, we find that poorly planned space wastes up to 30% of the available area in an office.<br />
For example: One of our clients was planning to build an office extension at a cost of &#163;250,000. By transforming the use of their existing space and replacing inefficient desks with new space-efficient furniture, we established that their additional staff could be housed in their present offices. Total cost of the whole exercise? &#163;20,000 - just 8% of their original planned spend!<br />
Often clients make use of saved space for future expansion, saving costly moves and alterations at a later date. Quite apart from saving space, properly planned offices lead naturally to more productive and happier staff.</li>
      <li><p><strong>4. Risk Assessment</strong></p><br />
In today's 'sue, grab it and run' environment it is essential that you are fully aware of all the legal requirements of compliance for offices.<br />
When we plan an interior for you we evaluate every important issue with legal requirements.
Areas such as: Health &amp; Safety considerations, Fire Officer Approval, Building Regulation Approval (where needed), VDU Regulations, Seating Regulations, DDA Regulations, CDM Regulations. <br />
Government Agencies have wide ranging powers and you need to avoid falling foul of them. Many rules are open to individual interpretation. Our close contact with the various Governmental departments means we frequently negotiate a more favourable response than you may be able to achieve if dealing direct with them yourself.</li>
      <li><p><strong>5. Product Selection</strong></p><br />
All too often suppliers only offer their clients the cheapest possible solution, or the product they make the biggest profit on instead of really identifying if it is the ideal answer for their particular application.<br/>
Of course, cost is extremely important, but it is essential that you are buying the correct product range. You need to consider longevity and durability as well as compliance with current legislation, eg, wire management.<br />
We strive to offer our clients the best products that fit within their budget.</li>
      <li><p><strong>6. Interior Design</strong></p><br />
As part of our standard service our fully qualified Interior Designer suggests various colour schemes to complement your company's image. Our Interior Design Department works in partnership with you to create mood boards for your approval. The service covers all aspects of your interior finishes including floor coverings, wall finishes, woodwork and window treatments, as well as the furniture and seating.
It is vital that you motivate your staff to give of their best. If you provide them with the best possible working conditions you maximise your chances of inspiring the best performance from them. <br />
Clients frequently comment on how staff productivity and relationships improve following the successful completion of one our schemes. </li>
      <li><p><strong>7. After Sales</strong></p><br />
All too often after placing an order you find that the salesman disappears into the sunset and you are passed onto other contacts with whom you have no rapport.<br />
One of the benefits of dealing with ODASS is that all your contact on a project is at director level. We believe this is vitally important as it establishes top level contact ensuring you receive the best possible service. <br />
Once you entrust a project to us, we programme your order for delivery and installation. Our Contracts Manager is introduced to you by the director handling your project, to enable him to plan labour and transport and check on site access and other relevant issues.<br />
Depending on the complexity of the project we prepare a full programme detailing how and in what order we plan to undertake the work. This then gives you the opportunity to decide whether any amendments need to be made. <br />
Our skilled workforce carry out the installation of your new furniture. Our fitters are user-friendly and understand the need to deliver and build your new installation with the minimum disruption to your staff and ongoing business operation.<br />
On completion of your project your appointed director visits you to ensure that you are completely satisfied with the project.<br />
But the story doesn't end here. As our clients become more successful we frequently find they need to adapt and expand their installation.<br />
As part of our after sales service we plan to manage your future requirements. We hold current drawings of your office layouts on our CAD files. Any changes you implement are updated on our master filing system so we are always right up to date with your company's continued growth.<br />
Simple changes can often be generated remotely over the phone without the need to visit site. For more complex changes we start the evaluation process once again.<br />
All of our products are backed up by comprehensive manufacturers guarantees - up to 10 years in some cases.<br />
The importance of building a sound business relationship with our clients is of paramount significance to us. We like the easy life. Satisfied customers returning again and again over the years.<br />
We rarely lose a client once they do business with us. We want our clients to be clients for life and apply all our efforts to establish a long and lasting relationship with them.</li>
  </ul>
    <p>Please email <a href="mailto:paul@odass.co.uk">paul@odass.co.uk</a> and request an appointment.</p>
</div>
</div>
<div class="ContentSection" id="Contact">
<div class="Title">
  <h2>contact paul <em>text, phone or email</em></h2>
</div>

<div class="Content clearfix">
  <div id="ContactLeft">
    <p>Vine Cottage, 80 The Street</p>
    <p>Great Snoring, Fakenham</p>
    <p>Norfolk, NR21 OAH</p> <br />
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?q=80+The+Street+NR21+0AH&amp;sll=52.872646,0.891683&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=80+The+St,+Great+Snoring,+Fakenham+NR21+0AH,+United+Kingdom&amp;ll=52.872646,0.891683&amp;spn=0.001566,0.004128&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?q=80+The+Street+NR21+0AH&amp;sll=52.872646,0.891683&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=80+The+St,+Great+Snoring,+Fakenham+NR21+0AH,+United+Kingdom&amp;ll=52.872646,0.891683&amp;spn=0.001566,0.004128&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<h1>Contact Paul about your next project: mobile: 0783 476 9950 or email: paul(put a load of nonsense in here instead of the @ symbol)odass.co.uk</h1>
<br />
</div>

</div>

</div>

<div id="Footer">
<div id="FooterInner">
<p>&copy; Odass Ltd. 2012 All rights reserved.</p>
</div>

</div>

<div id="FixNav">
<ul>
<li id="FixTop"><a title="top of page" href="#main">top of page</a></li>
<li id="FixFurnishings"><a title="what we represent" href="#Furnishings">what we represent</a></li>
<li id="FixCaseStudies"><a title="case studies" href="#CaseStudies">case studies</a></li>
<li id="FixTestimonials"><a title="testimonials" href="#Testimonials">Testimonials</a></li>
<li id="FixEnvironmentalPolicy"><a title="environmental policy" href="#EnvironmentalPolicy">environmental policy</a></li>
<li id="FixServices"><a title="services" href="#Services">services</a></li>
<li id="FixContact"><a title="contact" href="#Contact">contact</a></li>
</ul>
