<!DOCTYPE html>
<html>
<head>
  <head>
  <title>Odass Ltd</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords" content="interior design, space planning, ergonomic workstations, seating, office" />
  <meta name="Description" content="successful commercial interior design, space planning and implementation of corporate office interiors" />

  <link rel="shortcut icon" href="images/favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <div id="Header" class="clearfix">
      <p class="ToolBarContact"><a href="mailto:paul@odass.co.uk">paul@odass.co.uk</a></p>
      <h1>Odass Ltd.</h1>
      <%= render 'shared/navigation' %>
    </div>

    <div id="Page">
      <%= yield %>

      <div id="Footer">
        <div id="FooterInner">
          <p>&copy; Odass Ltd. 2012 All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
