<!DOCTYPE html>
<html>
    <head>
        <head>
        <title>Odass Ltd</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="interior design, space planning, ergonomic workstations, seating, office" />
        <meta name="Description" content="Successful commercial interior design, space planning and implementation of corporate office interiors" />

        <link rel="shortcut icon" href="images/favicon.ico">

        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <div id="main">
            <%= render 'shared/page_header' %>

            <div class="content">
                <%= yield %>
            </div>
        </div>

        <%= render 'shared/page_footer' %>

        <%= javascript_include_tag 'application' %>
    </body>
</html>
